<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Customer Details </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div class="row">
                <div class="column">
                    <h2>Customer Name</h2>
                    <p>Silver Foods</p>
                </div>
                <div class="column">
                    <h2>Contact Number</h2>
                    <p>+91 1234567890</p>
                </div>
                <div class="column">
                    <h2>Email ID</h2>
                    <p>abcdef@gmail.com</p>
                </div>
            </div>
        </mat-card-content>
        <hr />
        <mat-card-content>
            <mat-card-title>Case Summary </mat-card-title>
            <div class="row">
                <div class="column">
                    <h2>Aplicant </h2>
                    <p>Min Lin</p>
                </div>
                <div class="column">
                    <h2>Service</h2>
                    <p>Property left empty by persons detained</p>
                </div>
                <div class="column">
                    <h2>Council Tax Account</h2>
                    <p>123654</p>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <h2>Council Tax Application Form</h2>
                    <p>001-2354-801</p>
                </div>
                <div class="column">
                    <h2>Case Origin</h2>
                    <p>Portal</p>
                </div>
                <div class="column">
                    <h2>Service Area</h2>
                    <p>Council Tax</p>
                </div>
            </div>
        </mat-card-content>

        <hr />
    </mat-card>
</div>