.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}
// .mat-card :hover {
//   cursor: pointer;
// }
table {
  width: 100%;
}
.greenColor{
  background-color: greenyellow;
  
}
.grayColor{
  background-color: gray;
  cursor: pointer;
  
}
.bluevioletColor{
  background-color: blueviolet;
}
.blueColor{
  background-color: blue;
}
